canvas {
  position: absolute;
  top: 0;
  left: 0;
}

canvas#fg {
  z-index: 3;
}

canvas#bg1 {
  z-index: 2;
}

canvas#bg2 {
  z-index: 1;
}

canvas#bg3 {
  z-index: 0;
}

@font-face {
  font-family: Penna;
  src: url(../font/penna.otf);
}

@font-face {
  font-family: DroidSans;
  src: url(../font/DroidSans.ttf);
}

@font-face {
  font-family: SlimJoe;
  src: url(../font/ElegantLux.otf);
}
