canvas {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

canvas#text-fg {
  z-index: 4;
}

canvas#fg {
  z-index: 3;
}

canvas#bg1 {
  z-index: 2;
}

canvas#bg2 {
  z-index: 1;
}

canvas#bg3 {
  z-index: 0;
}

/* Not Used */
@font-face {
  font-family: Penna;
  src: url(../font/penna.otf);
}

@font-face {
  font-family: DroidSans;
  src: url(../font/DroidSans.ttf);
}

@font-face {
  font-family: ElegantLux;
  src: url(../font/ElegantLux.otf);
}
